<div class="sidebar">
  <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
  <div style="text-align: center; font-size: 1em">Put Your emotion into the word.Come here
    and Pour your emotion.</div>
  <div style="text-align: center">
    <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
  </div>
  <div style="text-align: center">
    <button class="btnCreateSubreddit" (click)="goToCreateSubreddit()">Create Space</button>
  </div>

  </div>
