.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.mat-elevation-z6 {
  background-color: darkslategrey;
  position: relative;
  z-index: 555;
}
.nav-link
{
  height: 100%;
}

mat-sidenav{
  background-color: darkslategrey;
  width: 200px;
  height: 100%;
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  right:0;
  padding-top: 60px; /* Place content 60px from the top */
}

a {
  color: white;
  text-decoration: none;
}




