/*.sign-up {*/
/*  background-color: #0079D3;*/
/*  border-color: #0079D3;*/
/*  color: aliceblue;*/
/*  fill: #0079D3;*/
/*  border: 1px solid;*/
/*  border-radius: 4px;*/
/*  text-align: center;*/
/*  letter-spacing: 1px;*/
/*  text-decoration: none;*/
/*  font-size: 12px;*/
/*  font-weight: 700;*/
/*  letter-spacing: .5px;*/
/*  line-height: 24px;*/
/*  text-transform: uppercase;*/
/*  padding: 3px 16px;*/
/*  opacity: 1;*/
/*}*/

.register-section {
  margin: 100px;
}
.btn{
  margin-left: 165px;
  margin-bottom: 15px;
}
@media screen and (max-width: 450px) {
  .btn {
    margin-left:52px; /* The width is 100%, when the viewport is 400px or smaller */
  }
}
